body {
  background-color: lightpink;
}

.intro {
	background-color: #F9629F;
	align-items: center;
	justify-content: center;
	
	margin: 1rem;
	padding: 1rem;
	font-family: Roboto, sans-serif;
	border-radius: 1rem;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.intro:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 20px #FF69B4;
}